<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <title>Items</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div class="container">
    <p>Zamowienia.</p>

    <table class="table" >
        <tr>
            <th><b>Id</b></th>
            <th><b>Total price</b></th>
            <th><b>Shipping type</b></th>
            <th><b>Status</b></th>
            <th><b>Details</b></th>
            <th></th>
            <th></th>
        </tr>
        <tr th:each="order : ${orders}">
            <td th:text="${order.id}"></td>
            <td th:text="${order.price}"></td>

            <td th:if="${order.sendStrategy.sendStrategyType == T(com.my.order.send.SendStrategyType).EXPRESS}">Express</td>
            <td th:if="${order.sendStrategy.sendStrategyType == T(com.my.order.send.SendStrategyType).PERSONAL}">Personal</td>
            <td th:if="${order.sendStrategy.sendStrategyType == T(com.my.order.send.SendStrategyType).ECONOMIC}">Economic</td>
            <!--<div th:if="${order.state.orderStateType}">-->
                <!--CHW-->
            <!--</div>-->
            <td th:text="${order.state.orderStateType}"></td>
            <td><a th:href="@{/user/order/details(id=${order.id})}">Details</a></td>
            <td th:if="${order.state.orderStateType == T(com.my.order.OrderStateType).NEW}"><a th:href="@{/user/order/pay(id=${order.id})}">Pay</a></td>
            <td th:if="${order.state.orderStateType != T(com.my.order.OrderStateType).NEW and
            order.state.orderStateType != T(com.my.order.OrderStateType).CANCELLED}"><a th:href="@{/user/order/invoice(id=${order.id})}">Invoice</a></td>
            <td th:if="${order.state.orderStateType != T(com.my.order.OrderStateType).NEW and
            order.state.orderStateType != T(com.my.order.OrderStateType).CANCELLED}"><a th:href="@{/user/order/file(id=${order.id})}">Download</a></td>
        </tr>
    </table>
</div>
</body>
</html>