<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <title>Items</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div class="container">
    <p>Zamowienia.</p>

    <table class="table" >
        <tr>
            <th><b>Summary order ID</b></th>
            <th><b>Suborder ID</b></th>
            <th><b>Name</b></th>
            <th><b>Amount</b></th>
            <th><b>Price</b></th>
            <th><b>Shipping type</b></th>
            <th><b>Status</b></th>
            <td></td>
            <td></td>
        </tr>
        <tr th:each="order : ${orders}">
            <td th:text="${order.parent.id}"></td>
            <td th:text="${order.id}"></td>
            <td th:text="${order.item.name}"></td>
            <td th:text="${order.amount}"></td>
            <td th:text="${order.price}"></td>
            <td th:if="${order.parent.sendStrategy.sendStrategyType == T(com.my.order.send.SendStrategyType).EXPRESS}">Express</td>
            <td th:if="${order.parent.sendStrategy.sendStrategyType == T(com.my.order.send.SendStrategyType).PERSONAL}">Personal</td>
            <td th:if="${order.parent.sendStrategy.sendStrategyType == T(com.my.order.send.SendStrategyType).ECONOMIC}">Economic</td>
            <td th:text="${order.state.orderStateType}"></td>
            <td th:if="${order.state.orderStateType == T(com.my.order.OrderStateType).COMPLETTING}"><a th:href="@{/operative/orders/completed(id=${order.id})}">Complete</a></td>
            <td th:if="${order.state.orderStateType == T(com.my.order.OrderStateType).COMPLETTING}"><a th:href="@{/operative/orders/cancel(id=${order.id})}">Cancel</a></td>
        </tr>
    </table>
</div>
</body>
</html>