<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <title>Items</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div class="container">
    <table class="table">
        <tr>
            <th><b>Id</b></th>
            <th><b>Name</b></th>
            <th><b>Price</b></th>
            <th><b>Amount</b></th>
        </tr>
        <tr>
            <td th:text="${item.id}"></td>
            <td th:text="${item.name}"></td>
            <td th:text="${item.price}"></td>
            <td th:text="${item.amount}"></td>
        </tr>
        <form class="form-narrow form-horizontal" method="post" th:action="@{/user/items/addToCart}" th:object="${itemDto}">
            <fieldset>
                <legend>Dodaj do koszyka</legend>
                <div class="form-group">
                    <input type="text" name="id" id="id" hidden="true" th:value="${item.id}"/>
                    <input type="text" name="name" id="name" hidden="true" th:value="${item.name}"/>
                    <label for="amount" class="col-lg-2 control-label">Ilosc</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="amount" placeholder="Amount" th:field="*{amount}"/>
                    </div>
                </div>
                <button type="submit" class="btn btn-default">Add</button>
            </fieldset>
        </form>
    </table>
</div>
</body>
</html>